﻿@model EducationPlatform.Models.ViewModels.Videos.VideoViewModel

@{
    ViewData["Title"] = "Редагувати";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h5 class="card-title">Редагувати запис</h5>
                <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                    <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                </a>
            </div>
            <form method="post" class="form-sample" asp-controller="Videos" asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                @Html.HiddenFor(o => Model.OldCourseModuleId)
                <div class="form-group">
                    <label asp-for="Link">Посилання</label>
                    <input type="text" asp-for="Link" class="form-control form-control-sm" maxlength="100" placeholder="https://youtu.be/yef...." data-step="1" data-intro="Замініть посилання з youtube" data-position="left">
                    <span asp-validation-for="Link"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseId">Курс</label>
                    <div data-step="2" data-intro="Виберіть курс" data-position="left">
                        @Html.DropDownListFor(x => Model.CourseId, new SelectList(Model.Courses, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm text-dark", @id = "Course" })
                        <span asp-validation-for="CourseId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CourseModuleId">Модуль</label>
                    <div data-step="3" data-intro="Виберіть модуль" data-position="left">
                        @Html.DropDownListFor(x => Model.CourseModuleId, new SelectList(Model.CourseModules, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm text-dark", @id = "CourseModule" })
                        <span asp-validation-for="CourseModuleId"></span>
                    </div>
                </div>
                <div data-step="4" data-intro="Збережіть або скасуйте зміни" data-position="left">
                    <button class="btn btn-primary mr-2" type="submit">Зберегти</button>
                    <a class="btn btn-light" href="/Videos">Скасувати</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>

        const GENERAL = {
            courseJson: '@Url.Action("GetCourseModules")',
        }

    </script>
    <script src="~/js/modulesDropdown.js"></script>
    <script src="~/js/startIntro.js"></script>
}


