﻿@using EducationPlatform.Models.EntityModels

@model IEnumerable<Course>

@{
    ViewData["Title"] = "Записи";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="d-flex">
                        <h3 class="card-title text-uppercase">Записи</h3>
                        <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3" data-toggle="collapse" data-target="#collapseThree_@Model.ElementAtOrDefault(0)?.CourseId" aria-expanded="false" aria-controls="collapseThree_@Model.ElementAtOrDefault(0)?.CourseId">
                            <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                        </a>
                    </div>
                    @if (Model.Count() != 0)
                    {
                        <div>
                            @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                            {
                                <div data-step="4" data-intro="Для додавання відео натисніть кнопку додати" data-position="left">
                                    <a class="btn btn-inverse-primary btn-sm d-flex align-items-center" asp-action="AddVideo">
                                        <i class="mdi mdi-plus-circle"></i> <span class="ml-2">Додати</span>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="accordion mt-3" id="accordionCourses">
                    @if (Model.Count() == 0)
                    {
                        <p class="ml-3 text-left">Відсутні курси</p>
                    }
                    else
                    {
                        @foreach (var item in Model.Select((value, i) => new { i, value }))
                        {
                            <div data-step="@(item.i == 0 ? 1 : -1 )" data-intro="Для перегляду запису виберіть курс" data-position="left">
                                <div class="card">
                                    <div class="card-header" id="headingThree_@item.value.CourseId">
                                        <div class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree_@item.value.CourseId" aria-expanded="false" aria-controls="collapseThree_@item.value.CourseId">
                                                <h5>@item.value.Name</h5>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="collapseThree_@item.value.CourseId" class="collapse" aria-labelledby="headingThree_@item.value.CourseId" data-parent="#accordionCourses">
                                        <div class="card-body">
                                            @{ int counter = 0; }
                                            @foreach (var courseModule in item.value.CourseModule)
                                            {
                                                if (courseModule.CourseModuleVideo.Count > 0)
                                                {
                                                    counter++;
                                                    <div class="d-flex flex-column m-3">
                                                        <div class="row">
                                                            <h6 class="col p-3 mb-3 bg-secondary text-white">@courseModule.Module.Name :</h6>
                                                        </div>
                                                        <div class="d-flex flex-row flex-wrap">
                                                            @foreach (var video in courseModule.CourseModuleVideo.Select((value, i) => new { i, value }))
                                                            {
                                                                <div class="mb-3 mr-3 d-flex flex-row justify-content-start">
                                                                    <div class="embed-responsive embed-responsive-16by9 video-wrapper">
                                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@video.value.Video.Link" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                    </div>

                                                                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                                                                    {
                                                                        <div class="mb-2 ml-1 d-flex flex-column">
                                                                            <div data-step="@(item.i == 0 ? 2 : -1 )" data-intro="Натисніть на олівець, якщо ви бажаєте відредагувати запис" data-position="right">
                                                                                <form class="d-inline mr-2 mb-2" method="get" asp-action="Edit" asp-route-videoId="@video.value.VideoId" asp-route-courseModuleId="@courseModule.CourseModuleId">
                                                                                    <button title="Редагувати запис" type="submit" class="p-0 btn btn-inverse-warning btn-icon">
                                                                                        <i class="mdi mdi-lead-pencil"></i>
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                            <div data-step="@(item.i == 0 ? 3 : -1 )" data-intro="Натисніть на відерце, якщо ви бажаєте видалити запис" data-position="right">
                                                                                <form class="d-inline mr-2 mb-2 delete-confirmation" method="post" asp-action="Delete" asp-route-videoId="@video.value.VideoId" asp-route-courseModuleId="@courseModule.CourseModuleId">
                                                                                    <button type="submit" class="btn btn-inverse-danger btn-icon">
                                                                                        <i class="mdi mdi-delete-variant"></i>
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @if (counter == 0)
                                            {
                                                <p class="ml-3">Записи відсутні</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
    <script src="~/js/deleteConfirmation.js"></script>
}
