﻿@model IEnumerable<EducationPlatform.Models.ViewModels.Subjects.SubjectViewModel>

@{
    ViewData["Title"] = "Предмети";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <h5 class="card-title">ПРЕДМЕТИ</h5>
                <p class="card-text">Усього зареєстрованних в системі предметів: @Model.Count() </p>
            </div>
            <div>
                <a class="btn btn-inverse-primary btn-sm d-flex align-items-center" asp-action="Create">
                    <i class="mdi mdi-plus-circle"></i> <span class="ml-2">Додати</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover datatable-table">
                <thead class="text-center">
                    <tr>
                        <th class="visible text-left">Назва</th>
                        <th class="visible text-left">Кількість модулів</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var subject in Model)
                    {
                        <tr>
                            <td class="visible text-left">@subject.Name</td>
                            <td class="visible text-left">@subject.Module.Count()</td>
                            <td>
                                <form class="d-inline" method="get" asp-action="Edit" asp-route-id="@subject.SubjectId">
                                    <button type="submit" class="btn btn-inverse-info btn-sm btn-icon align-items-center" title="Редагувати предмет">
                                        <i class="mdi mdi-lead-pencil"></i>
                                    </button>
                                </form>
                                <form class="d-inline" method="get" asp-action="Modules" asp-route-subjectId="@subject.SubjectId">
                                    <button type="submit" class="btn btn-inverse-primary btn-icon" title="Список модулів">
                                        <i class="mdi mdi-library-plus"></i>
                                    </button>
                                </form>
                                <form class="d-inline delete-confirmation" method="post" asp-action="Delete" asp-route-id="@subject.SubjectId">
                                    <button type="submit" class="btn btn-inverse-danger btn-icon" title="Видалити предмет">
                                        <i class="mdi mdi-delete-variant"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/deleteConfirmation.js"></script>
}