﻿

@{
    ViewData["Title"] = "Головна";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/template/landing-page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template  vendor/fontawesome-free/css/all.min.css-->
    <link href="~/lib/template/landing-page/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="~/lib/template/images/favicon-32x32.png" />
    <!-- Custom styles for this template -->
    <link href="~/lib/template/landing-page/css/landing-page.css" rel="stylesheet">
    <link href="~/lib/template/landing-page/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <img src="~/lib/template/landing-page/img/logo-landpage.svg">
            <a href="/Account/Login" class="btn btn-primary">Увійти</a>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Заглянь в майбутнє з нами. Приєднуйся!  </h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">                    
                            <div class="col-12 col-md-12">
                                <a href="/Account/Register" class="btn btn-rectangle w-50 h-100 btn-primary">Зареєструватись!</a>
                            </div>
                        </div>
                </div>
            </div>
    </header>

    <!-- Icons Grid -->
    <section class="showcase bg-light">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style=" background-image: url('lib/template/landing-page/img/bg-showcase-2.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Education Platform</h2>
                    <p class="lead mb-0">Команда нашого проекту рада поділитись своїми знаннями із студентами! Якщо ти хочеш дізнатись більше про програмування, а також, якщо ти хочеш зробити кар'єру в сфері <mark>IT</mark>, то тобі до нас.   <span class="btn-rectangle btn-">Приєднуйся</span>!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials text-center bg-white">
        <div class="container">
            <h2 class="mb-5">Наші переваги</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/lib/template/landing-page/img/testimonials-1.jpg" alt="">
                        <p class="font-weight-light mb-0">Уся історія процесу навчання в особистому кабінеті.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/lib/template/landing-page/img/testimonials-2.jpg" alt="">
                        <p class="font-weight-light mb-0">Спілкування у чаті з однодумцями.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/lib/template/landing-page/img/testimonials-3.jpg" alt="">
                        <p class="font-weight-light mb-0">Легкість у користуванні як для студента, так і для викладача.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">Про нас</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Контакт</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Правила використання</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/template/landing-page/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/template/landing-page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>