﻿@model EducationPlatform.Models.ViewModels.Courses.CoursesIndexViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<EducationPlatform.Models.Entities.User> UserManager



<div class="card-body">
    <div class="d-flex align-items-start justify-content-between">
        <div>
            <div class="d-flex">
                <h3 class="card-title text-uppercase">Курси</h3>
                <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                    <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                </a>
            </div>
            @if ((string)ViewData["Action"] == "StudentСourses")
            {
                <p class="mb-3">Студент навчається на: <span class="font-weight-bold">@Model.Courses.Count()</span> курсах</p>
            }
            @if ((string)ViewData["Action"] == "TeacherСourses")
            {
                <p class="mb-3">Викладач викладає на: <span class="font-weight-bold">@Model.Courses.Count()</span> курсах</p>
            }
            else
            {
                <p class="mb-3">Усього в системі зареєстровано <span class="font-weight-bold">@Model.Courses.Count()</span> курсів</p>
            }
        </div>
        <div class="d-flex flex-wrap">
            @if ((string)ViewData["Action"] == "StudentСourses")
            {
                <div data-step="9" data-intro="Щоб повернутися до сторінки з студентами натисніть Назад" data-position="left">
                    <a style="height:38.4px" type="submit" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right mr-1" asp-controller="Students" asp-action="Index">
                        <span class="ml-2">Назад</span>
                    </a>
                </div>
            }
            @if ((string)ViewData["Action"] == "TeacherСourses")
            {
                <div data-step="10" data-intro="Щоб повернутися до сторінки з викладачами натисніть Назад" data-position="left">
                    <a style="height:38.4px" type="submit" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right mr-1" asp-controller="Teachers" asp-action="Index">
                        <span class="ml-2">Назад</span>
                    </a>
                </div>
            }
            @if (!User.IsInRole("Admin"))
            {
                @if ((string)ViewData["Action"] == "Сourse")
                {
                    <div data-step="11" data-intro="Для перегляду своїх курсів натисніть мої курси" data-position="left">
                        <a style="height:38.4px" type="submit" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right mr-1" asp-controller="Courses" asp-action="GetUserCourses">
                            <span class="ml-2">Мої курси</span>
                        </a>
                    </div>
                }
                else if ((string)ViewData["Action"] == "MyСourse")
                {
                    <div data-step="12" data-intro="Для перегляду всіх курсів натисніть курси" data-position="left">
                        <a style="height:38.4px" type="submit" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right mr-1" asp-controller="Courses" asp-action="Index">
                            <span class="ml-2">Всі курси</span>
                        </a>
                    </div>
                }
            }
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
            {
                <div data-step="@(User.IsInRole("Admin") ? 8 : 9)" data-intro="Для додавання курсу натисніть кнопку додати" data-position="left">
                    <a class="btn btn-inverse-primary btn-sm d-flex align-items-center" asp-action="Create">
                        <i class="mdi mdi-plus-circle"></i> <span class="ml-2">Додати</span>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="table-responsive">
        <table class="table datatable-table">
            <thead>
                <tr>
                    <th class="visible">Назва</th>
                    <th class="visible">Модулі</th>
                    <th class="visible">Викладач</th>
                    <th class="visible">Студенти</th>
                    <th class="visible">Початок</th>
                    <th class="visible">Кінець</th>
                    @if (User.IsInRole("Student"))
                    {
                        <th class="visible">Навчається на курсі</th>
                    }
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses.Select((value, i) => new { i, value }))
                {
                    <tr data-step="@(course.i == 0 ? 1 : -1 )" data-intro="Виберіть запропонований курс" data-position="left">
                        <td>@course.value.Name</td>
                        <td>@course.value.CourseModule.Count()</td>
                        <td>@course.value.Teacher.LastName @course.value.Teacher.FirstName @course.value.Teacher.MiddleName</td>
                        <td>@course.value.CourseStudent.Count()</td>
                        <td>@course.value.StartDate.ToString("dd.MM.yyyy")</td>
                        <td>@course.value.EndDate.ToString("dd.MM.yyyy")</td>
                        @if (User.IsInRole("Student"))
                        {
                            @if (course.value.CourseStudent.Select(x => x.Student.UserId).Contains(UserManager.GetUserId(User)))
                            {
                                <td>Так</td>
                            }
                            else
                            {
                                <td>Ні</td>
                            }

                        }
                        <td class="text-center">

                            <form class="d-inline-flex" method="get" asp-action="Details" asp-route-courseId="@course.value.CourseId" data-step="@(course.i == 0 ? 2 : -1 )" data-intro="Натисніть на деталі, якщо ви бажаєте переглянути інформацію про курс" data-position="left">
                                <button title="Деталі" type="submit" class="p-0 btn btn-inverse-primary btn-icon">
                                    <i class="mdi mdi-book-open"></i>
                                </button>
                            </form>

                            @if ((!@course.value.HideMarks) || (@course.value.HideMarks && !User.IsInRole("Student")))
                            {
                                <form class="d-inline-flex" method="get" asp-action="Rating" asp-route-courseId="@course.value.CourseId" data-step="@(course.i == 0 ? 3 : -1 )" data-intro="Натисніть на зірку, якщо ви бажаєте переглянути рейтинг" data-position="left">
                                    <button title="Рейтинг" type="submit" class="p-0 btn btn-inverse-success btn-icon">
                                        <i class="mdi mdi-star-circle"></i>
                                    </button>
                                </form>
                            }

                            @if ((User.IsInRole("Teacher") && UserManager.GetUserId(User).Equals(course.value.TeacherId)) || User.IsInRole("Admin"))
                            {
                                <form class="d-inline-flex" method="get" asp-action="Edit" asp-route-courseId="@course.value.CourseId" data-step="@(course.i == 0 ? 4 : -1 )" data-intro="Натисніть на олівець, якщо ви бажаєте відредагувати курс" data-position="left">
                                    <button title="Редагувати курс" type="submit" class="p-0 btn btn-inverse-warning btn-icon">
                                        <i class="mdi mdi-lead-pencil"></i>
                                    </button>
                                </form>
                                <br>
                                <div class="pt-1 pb-1"></div>
                                <form class="d-inline-flex" method="get" asp-action="EditSchedule" asp-route-courseId="@course.value.CourseId" data-step="@(course.i == 0 ? 5 : -1 )" data-intro="Натисніть на розклад, якщо ви бажаєте переглянути розклад курсів" data-position="left">
                                    <button title="Редагувати розклад" type="submit" class="p-0 btn btn-inverse-secondary btn-icon">
                                        <i class="mdi mdi-timetable"></i>
                                    </button>
                                </form>
                                <form class="d-inline-flex" method="get" asp-action="EditStudents" asp-route-courseId="@course.value.CourseId" data-step="@(course.i == 0 ? 6 : -1 )" data-intro="Натисніть на студентів, якщо ви бажаєте редагувати студентів" data-position="left">
                                    <button title="Редагувати студентів" type="submit" class="p-0 btn btn-inverse-info btn-icon">
                                        <i class="mdi mdi-account-multiple"></i>
                                    </button>
                                </form>
                                <form class="d-inline-flex" method="get" asp-action="EditModules" asp-route-courseId="@course.value.CourseId" data-step="@(course.i == 0 ? 7 : -1 )" data-intro="Натисніть на книгу, якщо ви бажаєте редагувати модулі" data-position="left">
                                    <button title="Редагувати модулі" type="submit" class="p-0 btn btn-inverse-dark btn-icon">
                                        <i class="mdi mdi-book-multiple-variant"></i>
                                    </button>
                                </form>
                                <form class="d-inline-flex delete-confirmation" method="post" asp-action="Delete" asp-route-courseId="@course.value.CourseId">
                                    <button title="Видалити курс" type="submit" class="p-0 btn btn-inverse-danger btn-icon" data-step="@(course.i == 0 ? 8 : -1 )" data-intro="Натисніть на відерце, якщо ви бажаєте видалити курс" data-position="left">
                                        <i class="mdi mdi-delete-variant"></i>
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

