﻿@model EducationPlatform.Models.ViewModels.Courses.CourseViewModel
@using EducationPlatform.Models.ViewModels.Subjects;
@using EducationPlatform.Models.EntityModels;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<EducationPlatform.Models.Entities.User> UserManager

<form method="post" asp-action="@ViewData["Action"]" asp-controller="Courses" class="forms-sample mt-5">
    <div class="text-right" style="margin-top: -30px">
        <a id="help" onclick="getHelp()" class="hover-cursor ml-3">
            <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
        </a>
    </div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-3 col-form-label">Назва</label>
        <div class="col-sm-9" data-step="1" data-intro="Введіть назву курсу" data-position="left">
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Subject" class="col-sm-3 col-form-label">Предмет</label>
        <div class="col-sm-9" data-step="2" data-intro="Виберіть предмет" data-position="left">
            <select asp-for="SubjectId" class="selectpicker form-control text-dark" data-live-search="true" title="Виберіть предмет...">
                @foreach (var item in (List<SubjectViewModel>)ViewData["Subjects"])
                {
                    <option value="@item.SubjectId">@item.Name</option>
                }
            </select>
            <span asp-validation-for="Subject"></span>
        </div>
    </div>


    @if (User.IsInRole("Teacher"))
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Викладач</label>
            <div class="col-sm-9">
                @Html.HiddenFor(x => x.TeacherId)
                <select disabled class="selectpicker form-control text-dark" data-live-search="true" title="@(Model.TeacherId.Equals(@UserManager.GetUserId(User))?Model.Teacher.LastName + " " + Model.Teacher.FirstName : "Виберіть викладача...")">
                    @if (Model.TeacherId.Equals(@UserManager.GetUserId(User)))
                    {
                        <option value="@Model.TeacherId">@Model.Teacher.LastName @Model.Teacher.FirstName</option>
                    }
                </select>
            </div>
        </div>
    }
    else
    {
        <div class="form-group row" data-step="3" data-intro="Виберіть викладача" data-position="left">
            <label asp-for="Teacher" class="col-sm-3 col-form-label">Викладач</label>
            <div class="col-sm-9">
                <select asp-for="TeacherId" class="selectpicker form-control text-dark" data-live-search="true" title="Виберіть викладача...">
                    @foreach (var item in (List<AspNetUsers>)ViewData["Teachers"])
                    {
                        <option value="@item.Id">@item.LastName @item.FirstName</option>
                    }
                </select>
                <span asp-validation-for="Teacher"></span>
            </div>
        </div>
    }

    <div class="form-group row">
        <label asp-for="Start" class="col-sm-3 col-form-label">Початок</label>
        <div class="col-sm-9" data-step="4" data-intro="Виберіть початок" data-position="left">
            <input asp-for="Start" type="date" class="form-control">
            <span asp-validation-for="Start"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="End" class="col-sm-3 col-form-label">Кінець</label>
        <div class="col-sm-9" data-step="5" data-intro="Виберіть кінець" data-position="left">
            <input asp-for="End" type="date" class="form-control">
            <span asp-validation-for="End"></span>
        </div>

    </div>

    <div class="form-group row">
        <label asp-for="HideMarks" class="col-sm-3 col-form-label">Приховати оцінки</label>
        <div class="col-sm-9 my-auto" data-step="6" data-intro="Відмітьте, якщо хочете приховати оцінки" data-position="left">
            <div class="custom-control custom-switch">
                <input asp-for="HideMarks" type="checkbox" class="custom-control-input" id="hide-marks-switcher">
                <label class="custom-control-label" for="hide-marks-switcher"></label>
            </div>
        </div>
    </div>
    <div data-step="7" data-intro="Збережіть або скасуйте зміни" data-position="left">
        <button type="submit" class="btn btn-primary mr-2">Зберегти</button>
        <a class="btn btn-light" href="/Courses">Скасувати</a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
}