﻿@model EducationPlatform.Models.ViewModels.Courses.CourseViewModel

@{
    ViewData["Title"] = "Створити курс";

    ViewData["Action"] = "Create";
}

<div class="row">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-xs-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Додати курс</h4>
                @await Html.PartialAsync("_EditForm", Model, ViewData)
            </div>
        </div>
    </div>
</div>

@section Styles{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/validateDates.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <script src="~/js/datepicker.js"></script>
    <script src="~/js/startIntro.js"></script>
}