@model EducationPlatform.Models.ViewModels.Courses.CourseDetailsViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<EducationPlatform.Models.Entities.User> UserManager
@{
    ViewData["Title"] = "Деталі про курс";
}


<div class="row">
    <div class="col-xl-6 col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div>
                        <div class="d-flex">
                            <h3 class="card-title text-uppercase">Курс: <span>@Model.Course.Name</span></h3>
                            <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                                <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                            </a>
                        </div>
                        <p class="mb-3">Викладач: <span class="font-weight-bold">@Model.Teacher.LastName @Model.Teacher.FirstName @Model.Teacher.MiddleName</span></p>
                        <p>Початок: <span class="font-weight-bold">@Model.Course.StartDate.ToString("dd.MM.yyyy")</span></p>
                        <p class="mb-3">Кінець: <span class="font-weight-bold">@Model.Course.EndDate.ToString("dd.MM.yyyy")</span></p>
                        <p class="mb-4">
                            Опис: <span class="text-muted">@Model.Subject.Description</span>
                        </p>
                    </div>
                    <div class="d-flex flex-wrap justify-content-end">
                        @if ((!@Model.Course.HideMarks) || (@Model.Course.HideMarks && !User.IsInRole("Student")))
                        {
                            <form class="d-inline" method="get" asp-action="Rating" asp-route-courseId="@Model.Course.CourseId" data-step="7" data-intro="Натисніть на зірку, якщо ви бажаєте переглянути загальний рейтинг" data-position="left">
                                <button title="Загальний рейтинг" type="submit" class="btn btn-inverse-success btn-sm d-flex align-items-center m-2">
                                    <i class="mdi mdi-star-circle"></i> <span class="ml-2">Загальний рейтинг</span>
                                </button>
                            </form>
                        }
                        @if ((User.IsInRole("Teacher") && Model.Teacher.Id.Equals(UserManager.GetUserId(User))) || User.IsInRole("Admin"))
                        {
                            <form class="d-inline" method="get" asp-action="Edit" asp-route-courseId="@Model.Course.CourseId" data-step="8" data-intro="Натисніть на олівець, якщо ви бажаєте відредагувати курс" data-position="left">
                                <button title="Редагувати" type="submit" class="btn btn-inverse-warning btn-sm d-flex align-items-center m-2">
                                    <i class="mdi mdi-lead-pencil"></i> <span class="ml-2">Редагувати</span>
                                </button>
                            </form>
                        }

                    </div>
                </div>

                <div class="table-responsive">
                    <h6>Модулі</h6>
                    <table class="table datatable-table">
                        <thead>
                            <tr>
                                <th class="visible">Назва</th>
                                <th class="visible">Дата</th>
                                <th class="visible">Початок</th>
                                <th class="visible">Тривалість</th>
                                <th class="visible">Опис</th>
                                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Student"))
                                {
                                    <th>Дії</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var module in Model.Modules.Select((value, i) => new { i, value }))
                            {
                                <tr data-step="@(module.i == 0 ? 1 : -1 )" data-intro="Виберіть запропонований модуль" data-position="left">
                                    <td>@module.value.Name</td>
                                    <td>@module.value.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@module.value.StartTime.Value.ToString("hh"):@module.value.StartTime.Value.ToString("mm")</td>
                                    <td>@(module.value.Module.Duration.HasValue ? module.value.Module.Duration.Value.ToString("hh") : "00"):@(module.value.Module.Duration.HasValue ? module.value.Module.Duration.Value.ToString("mm") : "00")</td>
                                    <td>@module.value.Description</td>
                                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Student"))
                                    {
                                        <td class="text-center">
                                            <form class="d-inline" method="get" asp-action="SetModuleMark" asp-route-courseId="@Model.Course.CourseId" asp-route-moduleId="@module.value.Module.ModuleId">
                                                <button title="Поставити оцінку за модуль" class="p-0 btn btn-inverse-warning btn-icon">
                                                    <i class="mdi mdi-account-star" data-step="@(module.i == 0 ? 2 : -1 )" data-intro="Натисніть на студента, якщо ви бажаєте поставити оцінку за модуль" data-position="left"></i>
                                                </button>
                                            </form>
                                            @if ((!@Model.Course.HideMarks) || (@Model.Course.HideMarks && !User.IsInRole("Student")))
                                            {
                                                @if (module.value.Module.HasLab || module.value.Module.HasTest)
                                                {
                                                    <form class="d-inline" method="get" asp-action="ModuleRating" asp-route-courseId="@Model.Course.CourseId" asp-route-moduleId="@module.value.Module.ModuleId">
                                                        <button title="Рейтинг за модулем" type="submit" class="p-0 btn btn-inverse-success btn-icon">
                                                            <i class="mdi mdi-star-circle" data-step="@(module.i == 0 ? 3 : -1 )" data-intro="Натисніть на зірку, якщо ви бажаєте переглянути рейтинг за модулем" data-position="left"></i>
                                                        </button>
                                                    </form>
                                                }
                                            }
                                        </td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive mt-4">
                    <h6>Студенти</h6>
                    <table class="table datatable-table">
                        <thead>
                            <tr>
                                <th class="visible">Ім'я студента</th>
                                <th class="visible">Email</th>
                                <th class="visible">Навички</th>
                                <th class="visible">Статус</th>
                                @if ((!@Model.Course.HideMarks) || (@Model.Course.HideMarks && !User.IsInRole("Student")))
                                {
                                    <th>Дії</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model.Students.Select((value, i) => new { i, value }))
                            {
                                <tr data-step="@(Model.Students.Count == 1 ? 4 : (student.i == 1 ? 4 : -1 ))" data-intro="Виберіть запропонованого студента" data-position="left">
                                    <td>@student.value.User.LastName @student.value.User.FirstName @student.value.User.MiddleName</td>
                                    <td>@student.value.User.Email</td>
                                    <td class="text-center">@student.value.Skills</td>
                                    @if (student.value.User.IsBanned == true)
                                    {
                                        <td><span class="badge badge-danger">Заблокований</span></td>
                                    }
                                    else if (student.value.User.IsBanned == false && student.value.HasAccess.Value == true)
                                    {
                                        <td><span class="badge badge-success">Активний</span></td>
                                    }
                                    else if (!student.value.HasAccess.Value)
                                    {
                                        <td><span class="badge badge-warning">Не підтверджено</span></td>
                                    }

                                    @if ((User.IsInRole("Teacher") || User.IsInRole("Admin")) || (!@Model.Course.HideMarks) || (@Model.Course.HideMarks && !User.IsInRole("Student")))
                                    {
                                        <td class="text-center">
                                            @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                                            {
                                                <form class="d-inline" method="get" asp-action="SetStudentMark" asp-route-courseId="@Model.Course.CourseId" asp-route-studentId="@student.value.StudentId">
                                                    <button title="Поставити оцінку студенту" type="submit" class="p-0 btn btn-inverse-warning btn-icon">
                                                        <i class="mdi mdi-account-star" data-step="@(Model.Students.Count == 1 ? 5 : (student.i == 1 ? 5 : -1 ))" data-intro="Натисніть на студента, якщо ви бажаєте поставити оцінку студенту" data-position="left"></i>
                                                    </button>
                                                </form>
                                            }
                                            @if ((!@Model.Course.HideMarks) || (@Model.Course.HideMarks && !User.IsInRole("Student")))
                                            {
                                                <form class="d-inline" method="get" asp-action="RatingStudent" asp-route-courseId="@Model.Course.CourseId" asp-route-studentId="@student.value.StudentId">
                                                    <button title="Рейтинг" type="submit" class="p-0 btn btn-inverse-success btn-icon">
                                                        <i class="mdi mdi-star-circle" data-step="@(Model.Students.Count == 1 ? 6 : (student.i == 1 ? 6 : -1 ))" data-intro="Натисніть на зірку, якщо ви бажаєте переглянути рейтинг студента" data-position="left"></i>
                                                    </button>
                                                </form>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body"><div id="calendar"></div></div>
        </div>
    </div>
</div>

@if ((!@Model.Course.HideMarks) || (@Model.Course.HideMarks && !User.IsInRole("Student")))
{
    <div class="row mt-1">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body" data-step="9" data-intro="Статистика модуля" data-position="left">
                    <h3 class="card-title">Статистика модуля</h3>
                    <canvas id="moduleChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body" data-step="10" data-intro="Статистика всіх студентів" data-position="left">
                    <h3 class="card-title">Статистика студентів</h3>
                    <canvas id="studentRating"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body" data-step="11" data-intro="Статистика мінімальній максимальной оцінки студентів" data-position="left">
                    <h3 class="card-title">Статистика студентів</h3>
                    <canvas id="minAndMaxRating"></canvas>
                </div>
            </div>
        </div>
    </div>
}

@section Styles {
    <link href='~/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/list/main.css' rel='stylesheet' />
}

@section Scripts {
    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/core/locales/uk.js'></script>
    <script src='~/lib/fullcalendar/interaction/main.js'></script>
    <script src='~/lib/fullcalendar/daygrid/main.js'></script>
    <script src='~/lib/fullcalendar/timegrid/main.js'></script>
    <script src='~/lib/fullcalendar/list/main.js'></script>
    <script src="~/lib/template/js/Chart.min.js"></script>
    <script>
                const courseId = '@Model.Course.CourseId';
    </script>

    <script src="~/js/chart.js"></script>
    <script>

        const GENERAL = {
            calendarURL: '@Url.Action("CourseSchedule", "Calendar", new { id = Model.Course.CourseId })',
        }
    </script>
    <script src='~/js/calendar.js'></script>
    <script src="~/js/startIntro.js"></script>
}
