﻿@model EducationPlatform.Models.ViewModels.Courses.CourseEditModulesViewModel

@{
    ViewData["Title"] = "Редагування модуля";
}

<div class="row">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-xs-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div>
                        <div class="d-flex">
                            <h3 class="card-title text-uppercase">Курс: <span>@Model.Course.Name</span></h3>
                            <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                                <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                            </a>
                        </div>
                        <p class="mb-3">Викладач: <span class="font-weight-bold">@Model.Course.Teacher.LastName @Model.Course.Teacher.FirstName @Model.Course.Teacher.MiddleName</span></p>
                        <p>Початок: <span class="font-weight-bold">@Model.Course.Start.ToString("dd.MM.yyyy")</span></p>
                        <p class="mb-3">Кінець: <span class="font-weight-bold">@Model.Course.End.ToString("dd.MM.yyyy")</span></p>
                        <p class="mb-4">
                            Опис: <span class="text-muted">@Model.Course.Description</span>
                        </p>
                    </div>
                </div>

                <div class="table-responsive">
                    <h6 class="mb-3">Модулі</h6>

                    <form method="post" asp-action="EditModules" asp-controller="Courses">

                        @Html.HiddenFor(x => x.CourseId)
                        @Html.HiddenFor(x => x.SubjectId)
                        @Html.HiddenFor(x => x.Course)
                        <div class="form-group">
                            @for (var i = 0; i < Model.Modules.Count; i++)
                            {
                                <div class="form-check form-check-primary mb-3" data-step="1" data-intro="Виберіть модуль" data-position="left">
                                    <label class="form-check-label" asp-for="@Model.Modules[i].Selected">
                                        <input type="checkbox" class="form-check-input" asp-for="@Model.Modules[i].Selected">
                                        @Model.Modules[i].Name
                                        <i class="input-helper"></i>
                                    </label>
                                    <small class="text-muted">@Model.Modules[i].Description</small>
                                    <input type="hidden" asp-for="@Model.Modules[i].Id" />
                                    <input type="hidden" asp-for="@Model.Modules[i].Name" />
                                    <input type="hidden" asp-for="@Model.Modules[i].Description" />
                                </div>
                            }
                        </div>
                        <div data-step="2" data-intro="Збережіть або скасуйте зміни" data-position="left">
                            <button type="submit" class="btn btn-primary mr-2">Зберегти</button>
                            <a class="btn btn-light" href="/Courses">Скасувати</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
}