@model EducationPlatform.Models.ViewModels.Courses.CourseEditSchedulesViewModel

@{
    ViewData["Title"] = "Редагування розкладу";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}

<div class="row">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-xs-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="d-flex">
                        <h3 class="card-title text-uppercase">Курс: <span>@Model.Course.Subject.Name</span></h3>
                        <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                            <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                        </a>
                    </div>
                    <p class="mb-3">Викладач: <span class="font-weight-bold">@Model.Course.Teacher.LastName @Model.Course.Teacher.FirstName @Model.Course.Teacher.MiddleName</span></p>
                    <p>Початок: <span class="font-weight-bold">@Model.Course.Start.ToString("dd.MM.yyyy")</span></p>
                    <p class="mb-3">Кінець: <span class="font-weight-bold">@Model.Course.End.ToString("dd.MM.yyyy")</span></p>
                    <p class="mb-3">Модулів: <span class="font-weight-bold">@Model.Modules.Count</span></p>
                    <p class="mb-4">
                        Опис: <span class="text-muted">@Model.Course.Subject.Description</span>
                    </p>
                </div>
                <div>
                    <h6 class="mb-3">Модулі</h6>
                    <p class="d-inline offset-lg-3">Дата та час</p>
                    <form method="post" asp-controller="Courses" asp-action="EditSchedule">
                        @Html.HiddenFor(x => x.CourseId)
                        @Html.HiddenFor(x => x.Course.SubjectId)
                        @Html.HiddenFor(x => x.Course.Name)

                        @for (var i = 0; i < Model.Modules.Count; i++)
                        {
                            @Html.HiddenFor(x => x.Modules[i].Id)
                            @Html.HiddenFor(m => m.Modules[i].Duration)
                            <div class="form-group row mb-1">
                                <label asp-for="@Model.Modules[i].Date" class="col-sm-3 col-form-label mb-0">@Model.Modules[i].Name</label>
                                <div class="col-sm-9 d-flex align-items-center">
                                    <div class="row" data-step="1" data-intro="Виберіть дату та час початку модуля" data-position="left">
                                        <input type="date" class="form-control form-control-sm col col-lg-7" asp-for="@Model.Modules[i].Date">
                                        <input type="text" class="form-control form-control-sm limittimepicker col col-lg-2 ml-3" asp-for="@Model.Modules[i].StartTime">
                                    </div>
                                </div>
                            </div>
                        }
                        <div data-step="2" data-intro="Збережіть або скасуйте зміни" data-position="left">
                            <button type="submit" class="btn btn-primary mr-2">Зберегти</button>
                            <a class="btn btn-light" href="/Courses">Скасувати</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Styles{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
}

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <script src="~/js/datepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="~/js/timepicker.js"></script>
    <script src="~/js/startIntro.js"></script>
}