﻿@model EducationPlatform.Models.ViewModels.Courses.CoursesIndexViewModel


@{
    ViewData["Title"] = "Курси студента";
    ViewData["Action"] = "StudentСourses";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            @await Html.PartialAsync("_CourseForm", Model, ViewData)
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
    <script src="~/js/deleteConfirmation.js"></script>
}
