﻿@model EducationPlatform.Models.ViewModels.Modules.ModuleRatingViewModel

@{
    ViewData["Title"] = "Module Rating";
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <h3 class="card-title text-uppercase">Курс: <span>@Model.Course.Name</span></h3>
                        <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                            <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                        </a>
                    </div>
                    <h3 class="card-title text-uppercase">Модуль: <span>@Model.Module.Name</span></h3>
                </div>
                <div class="d-flex justify-content-between align-items-center w-50">
                    <div>
                        <p class="mb-3">Викладач: <span class="font-weight-bold">@Model.Course.Teacher.LastName @Model.Course.Teacher.FirstName @Model.Course.Teacher.MiddleName</span></p>
                        <p class="mb-3">
                            Тривалість:
                            @if (Model.Module.Duration == null)
                            {
                                <span class="text-muted">не вказано</span>
                            }
                            else
                            {
                                <span class="font-weight-bold">@Model.Module.Duration</span>
                            }
                        </p>
                    </div>
                    <div>
                        <p class="mb-4">
                            Опис:
                            @if (Model.Module.Description == null)
                            {
                                <span class="text-muted">не вказано</span>
                            }
                            else
                            {
                                <span class="text-muted">@Model.Module.Description</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="table-responsive">
                    <h6>Рейтинг</h6>

                    @if (Model.Marks.Count > 0)
                    {
                        <table class="datatable-table w-100">
                            <thead>
                                <tr>
                                    <th class="visible">Студент</th>
                                    @if (Model.Module.HasTest)
                                    {
                                        <th class="visible">Оцінка за тести</th>
                                    }
                                    @if (Model.Module.HasLab)
                                    {
                                        <th class="visible">Оцінка за лабораторні</th>
                                    }
                                    <th class="visible">Загалом</th>
                                    <th>Дії</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Marks)
                                {
                                    <tr>
                                        <td>@item.StudentName</td>
                                        @if (Model.Module.HasTest)
                                        {
                                            <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @Model.MinTestSum, Максимальна оцінка - @Model.MaxTestSum ">
                                                <p>
                                                    @item.TestMark
                                                </p>
                                            </td>
                                        }
                                        @if (Model.Module.HasLab)
                                        {
                                            <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @Model.MinLabSum, Максимальна оцінка - @Model.MaxLabSum ">
                                                <p>
                                                    @item.LabMark
                                                </p>
                                            </td>
                                        }

                                        <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @(Model.MinLabSum + Model.MinTestSum), Максимальна оцінка - @(Model.MaxLabSum + Model.MaxTestSum) ">
                                            <p>
                                                @(item.LabMark + item.TestMark)
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <form class="d-inline" method="get" asp-action="RatingStudent" asp-route-courseId="@Model.Course.CourseId" asp-route-studentId="@item.StudentId">
                                                <button title="Оцінити студента" type="submit" class="p-0 btn btn-inverse-success btn-icon">
                                                    <i class="mdi mdi-star-circle" data-step="1" data-intro="Натисніть на зірку, якщо ви бажаєте оцінити студента" data-position="left"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>Немає студентів!</div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
}