﻿@model EducationPlatform.Models.ViewModels.Courses.CourseRatingViewModel

@{
    ViewData["Title"] = "Рейтинг";
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <h3 class="card-title text-uppercase">Курс: <span>@Model.Course.Name</span></h3>
                        <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                            <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                        </a>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="mb-3">Викладач: <span class="font-weight-bold">@Model.Course.Teacher.LastName @Model.Course.Teacher.FirstName @Model.Course.Teacher.MiddleName</span></p>
                        <p>Початок: <span class="font-weight-bold">@Model.Course.StartDate.ToString("dd.MM.yyyy")</span></p>
                        <p class="mb-3">Кінець: <span class="font-weight-bold">@Model.Course.EndDate.ToString("dd.MM.yyyy")</span></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-50">
                        <p class="mb-2 mx-5 text-center">Модулів: <span class="font-weight-bold">@Model.Course.CourseModule.Count</span></p>
                    </div>
                </div>
                <div>
                    <p class="mb-2 text-left">
                        Опис: <span class="text-muted">
                            @Model.Course.Subject.Description
                        </span>
                    </p>
                </div>
                <div class="table-responsive">
                    <h6>Рейтинг</h6>

                    @if (Model.Marks.Count > 0)
                    {
                        <table class="datatable-table w-100">
                            <thead>
                                <tr>
                                    <th class="visible">Студент</th>
                                    <th class="visible">Оцінка за тести</th>
                                    <th class="visible">Оцінка за лабораторні</th>
                                    <th class="visible">Загалом</th>
                                    <th>Дії</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Marks.Select((value, i) => new { i, value }))
                                {
                                    <tr data-step="@(Model.Marks.Count == 1 ? 1 : (item.i == 1 ? 1 : -1 ))" data-intro="Виберіть запропонованого студента" data-position="left">
                                        <td>@item.value.StudentName</td>
                                        <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @Model.MinTestSum, Максимальна оцінка - @Model.MaxTestSum ">
                                            <p>
                                                @item.value.TestMark
                                            </p>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @Model.MinLabSum, Максимальна оцінка - @Model.MaxLabSum ">
                                            <p>
                                                @item.value.LabMark
                                            </p>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @(Model.MinLabSum + Model.MinTestSum), Максимальна оцінка - @(Model.MaxLabSum + Model.MaxTestSum) ">
                                            <p>
                                                @(item.value.LabMark + item.value.TestMark)
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <form class="d-inline" method="get" asp-action="RatingStudent" asp-route-courseId="@Model.CourseId" asp-route-studentId="@item.value.StudentId">
                                                <button title="Детальний рейтинг студента" type="submit" class="p-0 btn btn-inverse-success btn-icon">
                                                    <i class="mdi mdi-star-circle" data-step="@(Model.Marks.Count == 1 ? 2 : (item.i == 1 ? 2 : -1 ))" data-intro="Натисніть на зірку, якщо ви бажаєте переглянути детальний рейтинг студента" data-position="left"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>Немає студентів!</div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
}
