﻿@model EducationPlatform.Models.ViewModels.Courses.CourseStudentMarksViewModel

@{
    ViewData["Title"] = "Рейтинг студента";
    var sum = Model.Marks.Sum(x => (x.Module.MaxLabMark ?? 0) + (x.Module.MaxTestMark ?? 0));
    int i = 0;
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="card-title text-uppercase">Курс: <span>@Model.Course.Name</span></h3>
                    <a id="help" onclick="getHelp()" style="margin-top: -4px" class="hover-cursor ml-3">
                        <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="mb-3">Викладач: <span class="font-weight-bold">@Model.Course.Teacher.LastName @Model.Course.Teacher.FirstName @Model.Course.Teacher.MiddleName</span></p>
                        <p>Початок: <span class="font-weight-bold">@Model.Course.StartDate.ToString("dd.MM.yyyy")</span></p>
                        <p class="mb-3">Кінець: <span class="font-weight-bold">@Model.Course.EndDate.ToString("dd.MM.yyyy")</span></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-50">
                        <p class="mb-2 mx-5 text-center">Модулів: <span class="font-weight-bold">@Model.Course.CourseModule.Count</span></p>
                    </div>
                </div>
                <p class="mb-3">
                    Опис: <span class="text-muted">
                        @Model.Subject.Description
                    </span>
                </p>
                <div>
                    <h6>Рейтинг</h6>
                    <p>@Model.CurrentStudent.User.LastName @Model.CurrentStudent.User.FirstName @Model.CurrentStudent.User.MiddleName</p>
                    <p>Загальний рейтинг: <span class="font-weight-bold">@Model.Marks.Sum(x => x.LabMark + x.TestMark)</span> / @Model.Marks.Sum(x => (x.Module.MaxLabMark ?? 0) + (x.Module.MaxTestMark ?? 0)) - <span id="raitingPercent">@(100 * Model.Marks.Sum(x => x.LabMark + x.TestMark) / ((sum == 0) ? 1 : sum))%</span></p>
                    @if (Model.Marks.Count > 0)
                    {
                        <table class="datatable-table w-100">
                            <thead>
                                <tr>
                                    <th class="visible">Модуль</th>
                                    <th class="visible">Оцінка за тест</th>
                                    <th class="visible">Оцінка за лабораторну</th>
                                    <th class="visible">Загалом</th>
                                    <th class="text-center">Дії</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Marks.Select((value, j) => new { j, value }))
                                {
                                    <tr>
                                        <td>@item.value.ModuleName</td>
                                        @if (item.value.Module.HasTest)
                                        {
                                            <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @item.value.Module.MinTestMark, Максимальна оцінка - @item.value.Module.MaxTestMark ">
                                                <p>
                                                    @item.value.TestMark
                                                </p>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }

                                        @if (item.value.Module.HasLab)
                                        {
                                            <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @item.value.Module.MinLabMark, Максимальна оцінка - @item.value.Module.MaxLabMark ">
                                                <p>
                                                    @item.value.LabMark
                                                </p>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        <td data-toggle="tooltip" data-placement="top" data-html="true" title="Мінімальна оцінка - @((item.value.Module.MinTestMark ?? 0) + (item.value.Module.MinLabMark ?? 0)), Максимальна оцінка - @((item.value.Module.MaxTestMark ?? 0) + (item.value.Module.MaxLabMark ?? 0)) ">
                                            <p>
                                                @(item.value.LabMark + item.value.TestMark)
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <form class="d-inline" method="get" asp-action="MarkChat" asp-route-markId="@item.value.MarkId">
                                                <button type="submit" class="btn btn-inverse-primary btn-icon">
                                                    <i class="mdi mdi-wechat" data-step="@(Model.Marks.Count == 0 ? 1 : (item.j == 0 ? 1 : -1 ))" data-intro="Натисніть на повідомлення, якщо ви бажаєте перейти в чат обговорення оцінки" data-position="left"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    { i++; }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>Не знайдено жодного модуля на курсі!</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/raitingColorChange.js"></script>
    <script src="~/js/startIntro.js"></script>
}
