@using Microsoft.AspNetCore.Identity;
@model EducationPlatform.Models.ViewModels.Courses.CoursesIndexViewModel
@inject UserManager<EducationPlatform.Models.Entities.User> UserManager
@{
    ViewData["Title"] = "Розклад";
    var Teachers = Model.Courses.Select(x => x.Teacher).Distinct();
}


<div class="card col-md-8 mx-auto">
    <div class="card-body">
        <h3 class="text-center display-4" id="commonScheduleLabel">Загальний розклад</h3>
        @if (User.IsInRole("Student") || User.IsInRole("Teacher"))
        {

            <h3 class="text-center display-4" id="myScheduleLabel">Мій розклад</h3>
            <div class="row mb-2 ml-1">
                <div class="px-1" data-step="3" data-intro="Натисніть, щоб переглянути власний або загальний розклад" data-position="left">
                    <button title="Мій розклад" type="submit" id="mySchedule" class="btn btn-inverse-primary btn-md align-items-center mx-0">
                        <span>Переглянути мій розклад</span>
                    </button>
                    <button title="Загальний розклад" type="submit" id="commonSchedule" class="btn btn-inverse-primary btn-md align-items-center mx-0">
                        <span>Переглянути загальний розклад</span>
                    </button>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="row mt-3 mb-3">
                <div class="col" data-step="3" data-intro="Також ви можете відфільтрувати розклад за викладачами" data-position="left">
                    <select class="selectpicker form-control" id="teachers" data-style="btn pb-3 btn-inverse-primary text-dark" multiple title="Виберіть викладачів..." data-live-search="true" data-actions-box="true">
                        @foreach (var item in Teachers)
                        {
                            <option value="@item.Email">@item.FirstName @item.LastName</option>
                        }
                    </select>
                </div>
                <div class="col" data-step="4" data-intro="Та відфільтрувати розклад за курсами">
                    <select class="selectpicker form-control" id="courses" data-style="btn  pb-3 btn-inverse-primary text-dark" multiple title="Виберіть курси..." data-live-search="true" data-actions-box="true">
                        @foreach (var item in Model.Courses)
                        {
                            <option value="@item.CourseId">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        }
        <div class="text-right">
            <a id="help" onclick="getHelp()" class="hover-cursor ml-3 mt-n1">
                <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
            </a>
        </div>
        <div class="col">
            <div id="scheduleContainer">
                <div id="calendar"></div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    <link href='~/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/list/main.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
}

@section Scripts {
    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/core/locales/uk.js'></script>
    <script src='~/lib/fullcalendar/interaction/main.js'></script>
    <script src='~/lib/fullcalendar/daygrid/main.js'></script>
    <script src='~/lib/fullcalendar/timegrid/main.js'></script>
    <script src='~/lib/fullcalendar/list/main.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
        $('#commonSchedule').hide();
        $('#myScheduleLabel').hide();
        let url = '';
        $('select').selectpicker();
    </script>
    <script src="~/js/schedule.js"></script>
    @if (User.IsInRole("Student"))
    {
        <script>
            url = '/Schedule/GetScheduleForStudent/@UserManager.GetUserId(User)';
        </script>
    }
    else if (User.IsInRole("Teacher"))
    {
        <script>
            url = '/Schedule/GetTeacherSchedule/@UserManager.GetUserName(User)';
        </script>

    }
    else
    {
        <script>
            $('#mySchedule').remove();
            $('#commonSchedule').remove();
            getSchedule('/Schedule/GetAllCoursesSchedule/');
        </script>
    }

    <script>
        $('.fc-toolbar.fc-header-toolbar')
            .attr('data-intro', 'Ви можете вибрати режим відображення та гортати сам календар');

        $('.fc-view-container')
            .attr('data-intro', 'Тут ви можете переглянути сам розклад');
    </script>

    <script src="~/js/scheduleManager.js"></script>
    <script src="~/js/startIntro.js"></script>
}
