﻿@model EducationPlatform.Models.ViewModels.Account.UserViewModel

@await Html.PartialAsync("_ChangeEmailModal", new EducationPlatform.Models.ViewModels.Account.ChangeEmailViewModel { Id = Model.Id, Email = Model.Email })
<form method="post" class="form-sample" asp-action="Edit" asp-controller="Teachers">
    <div asp-validation-summary="ModelOnly"></div>
    @Html.HiddenFor(x => x.Email, new { id = "hidden_email" })
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label asp-for="LastName">Прізвище</label>
        <input asp-for="LastName" class="form-control" type="text" placeholder="Last name">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">Ім'я</label>
        <input asp-for="FirstName" class="form-control" type="text" placeholder="First name">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">По батькові</label>
        <input asp-for="MiddleName" class="form-control" type="text" placeholder="По батькові">
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div class="form-group">
        <div class="input-group sm-9">
            <input asp-for="Email" type="email" disabled class="form-control" />
            <span class="small" asp-validation-for="Email"></span>
            <div class="input-group-append" data-step="1" data-intro="Натисніть, якщо ви бажаєте змінити пошту" data-position="left">
                <button type="button" id="modalBtn" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">Змінити пошту</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Мобільний телефон</label>
        <input asp-for="PhoneNumber" class="form-control" type="number" oninvalid="validationWarning(this,'Будь ласка введіть коректно')" oninput="resetValidationWarting(this)" placeholder="Mobile">
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    <div data-step="2" data-intro="Збережіть або скасуйте зміни" data-position="left">
        <button class="btn btn-primary mr-2" type="submit">Зберегти</button>
        <a class="btn btn-light" href="/@ViewData["Controller"]">Скасувати</a>
    </div>
</form>
