﻿@model EducationPlatform.Models.ViewModels.Account.UserViewModel
@{
    ViewData["Title"] = "Редагування викладача";

    ViewData["Action"] = "Teachers";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Редагувати викладача</h5>
            @await Html.PartialAsync("_TeacherForm", Model, ViewData)
        </div>
    </div>
</div>




@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/changeEmailHandler.js"></script>
    <script src="~/js/validationWarning.js"></script>
}