@model EducationPlatform.Models.ViewModels.Teachers.TeachersIndexViewModel

@{
    ViewData["Title"] = "Викладачі";
}


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}


<div class="card">
    <div class="card-body">
        <a asp-controller="Teachers" asp-action="Create" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right">
            <i class="mdi mdi-plus-circle"></i> <span class="ml-2">Додати</span>
        </a>
        <h5 class="card-title">Викладачі</h5>
        <p class="card-text">Усього в системі зареєстрованно викладчів: <span class="font-weight-bold">@Model.Teachers.Count()</span></p>
        <div class="table-responsive">
            <table class="table table-hover datatable-table">
                <thead class="text-center">
                    <tr>
                        <th class="visible text-left">Ім'я викладача</th>
                        <th class="visible text-left">К-сть Курсів</th>
                        <th class="visible">Статус</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody class="text-left">
                    @foreach (var teacher in Model.Teachers)
                    {
                        <tr>
                            <td>@teacher.LastName @teacher.FirstName @teacher.MiddleName</td>
                            <td>
                                <a class="text-dark" href="/Courses/GetTeacherCourses/@teacher.Id">
                                    @teacher.Course.Count()
                                </a>
                            </td>
                            <td class="text-center">
                                @if (teacher.IsBanned == true)
                                {
                                    <span class="badge badge-danger">Заблокований</span>
                                }
                                else if (teacher.IsBanned == false)
                                {
                                    <span class="badge badge-success">Активний</span>
                                }
                            </td>
                            <td class="text-center">
                                <form class="d-inline" method="get" asp-action="Edit" asp-controller="Teachers" asp-route-id="@teacher.Id">
                                    <button type="submit" class="btn btn-inverse-info btn-sm align-items-center btn-icon" data-toggle="tooltip" title="Редагувати викладача">
                                        <i class="mdi mdi-lead-pencil"></i>
                                    </button>
                                </form>
                                <form class="d-inline delete-confirmation" method="post" asp-action="Delete">
                                    <input type="hidden" name="Email" value="@teacher.Email" />
                                    <button type="submit" class="btn btn-inverse-danger btn-icon" data-toggle="tooltip" title="Видалити викладача">
                                        <i class="mdi mdi-delete-variant"></i>
                                    </button>
                                </form>
                                @if (teacher.IsBanned == false)
                                {
                                    <form class="d-inline" method="post" asp-action="Block" asp-controller="Account" asp-route-page="Teachers" asp-route-id="@teacher.Id">
                                        <button type="submit" class="btn btn-inverse-info btn-icon align-items-center" data-toggle="tooltip" title="Заблокувати викладача">
                                            <i class="mdi mdi-block-helper"></i>
                                        </button>
                                    </form>
                                }
                                else if (teacher.IsBanned == true)
                                {
                                    <form class="d-inline" method="post" asp-action="UnBlock" asp-controller="Account" asp-route-page="Teachers" asp-route-id="@teacher.Id">
                                        <button type="submit" class="btn btn-inverse-info btn-icon align-items-center" data-toggle="tooltip" title="Розблокувати викладача">
                                            <i class="mdi mdi-account-key"></i>
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/deleteConfirmation.js"></script>
}