﻿@model EducationPlatform.Models.ViewModels.Account.UserViewModel
@{
    ViewData["Title"] = "Налаштування";

    ViewData["Action"] = "Profile";
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h5 class="card-title">Налаштування</h5>
                <a id="help" onclick="getHelp()" class="hover-cursor ml-3 mt-n1">
                    <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                </a>
            </div>
            @await Html.PartialAsync("_TeacherForm", Model, ViewData)
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/changeEmailHandler.js"></script>
    <script src="~/js/startIntro.js"></script>
}