.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  .theme-toggler{
      position: absolute;
      bottom: 5px;
      left: 10px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color:#007bff !important;
  } 
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /*Dark theme*/
  .dark-theme{
    background-color:#27293d;
    border: 1px solid #313452;
    color: #b1b1b5 !important;
  }
  .dark-theme .content-wrapper {
    background: #1e1e2f;
  }
  .dark-theme .navbar {
    border-bottom: 1px solid #313452;
  }
  .dark-theme .navbar .navbar-brand-wrapper {
    background: #27293d;
    border-bottom: none;
    border-right: none;
  }
  .dark-theme .navbar .navbar-menu-wrapper {
  background: #27293d;
  color: #b1b1b5;
  border-left: 1px solid #313452;
  border-bottom: none;
  }
  .dark-theme .text-muted, .preview-list .preview-item .preview-item-content p .content-category, .email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation, .email-wrapper .mail-list-container .mail-list .content .message_text, .email-wrapper .mail-list-container .mail-list .details .date {
    color: #9c9fa6 !important;
  }
  .dark-theme .dropdown-menu {
    color: #212529;
    background-color: #26293b;
    border: 1px solid #313452;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  }
  .dark-theme .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    color: #b1b1b5;
  }
  .dark-theme .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item:hover {
    background: #1d1e2f;
  }
  .dark-theme .logout-btn {
    color: #b1b1b5;
  }
  .dark-theme .logout-btn:hover{
    background: #1d1e2f;
  }
  .dark-theme .dropdown-item {
    color: #b1b1b5;
  }
  .dark-theme .dropdown-item:hover {
    background: #1d1e2f;
  }
  .dark-theme .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .asColorPicker-wrap {
  background: #1d1e2f;
  }
  .dark-theme .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link::after {
    color: #b1b1b5;
  }
  .dark-theme .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .dataTables_wrapper select, .dataTables_wrapper .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group select, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-text {
  background: transparent;
  color: #b1b1b5;
  }
  .dark-theme .navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler {
    color: #b1b1b5;
  }
  .dark-theme .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-name {
    color: #b1b1b5;
  }
  .dark-theme .sidebar {
  background: #27293d;
  border-right: 1px solid #313452;
  z-index: 11;
  }
  .dark-theme .sidebar .nav .nav-item .nav-link {
  color: #8c909a;
  }
  .dark-theme .sidebar .nav:not(.sub-menu) > .nav-item {
    border-bottom: 1px solid #313452;
  }
  .dark-theme .card {
    background-color: #26293b;
    border: 1px solid #313452;
  }
  .dark-theme .card .card-title {
    color: #b1b1b5;
  }
  .dark-theme .btn-inverse-secondary {
    background-color: rgba(180, 180, 180, 0.2);
    border-color: rgba(180, 180, 180, 0);
  }
  .dark-theme .btn-inverse-secondary:hover {
    color: #414141 !important;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
  }
  .dark-theme .btn-inverse-secondary:not(.btn-inverse-light) {
    color: #b1b1b1;
  }
  .dark-theme .btn-inverse-dark:not(.btn-inverse-light) {
    color: #609aff;
    background-color: rgba(73, 127, 219, 0.2);
  }
  .dark-theme .btn-inverse-dark:hover {
    color: #ffffff;
    background-color: #7dafff;
    border-color: #7dafff;
  }
  .dark-theme .table {
    color: #b1b1b1;
  }
  .dark-theme .dataTables_wrapper .dataTable tbody tr:nth-child(odd) {
    background: #1e1e2f;
  }
  .dark-theme .dataTables_wrapper .dataTable tbody tr td {
    border: 1px solid rgba(151, 151, 151, 0.18);
    color: #b1b1b5;
  }
  .dark-theme .table-hover tbody tr:hover {
    background-color: inherit;
    color: #a1a0a0;
  }
  .dark-theme .fc-unthemed td{
    border: 1px solid #313452;
  }
  .dark-theme .fc-unthemed th{
    border-color:#313452;
  }
  .dark-theme .fc-unthemed .fc-list-view{
    border-color:#313452;
  }
  .dark-theme .fc-unthemed .fc-list-empty {
    background-color: #1e1e2f;
  }
  .dark-theme .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #313452;
  }
  .dark-theme .fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td {
    border-color:#313452;
    background: #313452;
  }
  .dark-theme .fc-unthemed .fc-row{
    border-color:#313452;
  }
  .dark-theme .fc-unthemed td.fc-today {
    background: #1e1e2f;
  }
  .dark-theme .form-control, .dataTables_wrapper select {
    color: #b1b1b5;
    background: #26293b;
    border: 1px solid #5c607c;
  }
  .dark-theme .text-dark {
    color: #b1b1b5 !important;
  }
  .dark-theme .bootstrap-select .no-results {
    background: #1e1e2f;
    color: #b1b1b5;
  }
  .dark-theme .dropdown-item.active, .dropdown-item:active {
    color: #b1b1b5;
    text-decoration: none;
    background-color: #1e1e2f;
  }
  .dark-theme .card-header {
    border-bottom: 1px solid #313452;
  }
  .dark-theme .page-item.disabled .page-link {
    color: #b1b1b5;
    background-color: #313452;
    border-color: #3e426d;
  }
  .dark-theme .page-item.active .page-link {
    color: #b1b1b5;
    background-color: rgba(120, 89, 223, 0.5);
    border-color: rgba(120, 89, 223, 0.5);
  }
  .dark-theme .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 89, 223, 0.25);
  }
  .dark-theme .modal-content {
    background-color: #26293b;
    border: 1px solid #26293b;
  }
  .dark-theme .close {
    color: rgb(182, 182, 182);
    text-shadow: 0 1px 0 #fff;
  }
  .dark-theme .modal-header {
    border-bottom: 1px solid #87888a;
  }
  .dark-theme .modal-footer {
    border-top: 1px solid #87888a;
  }
  .dark-theme .bg-white {
    background-color: #26293b !important;
  }
  .dark-theme .bg-light {
    background-color: #26293b !important;
  }
  .dark-theme .list-group-item-light.list-group-item-action.active {
    color: #ffffff;
    background-color: #26293b;
    border: none !important;
  }
  .dark-theme .table .badge-success{
    background-color: transparent !important;
    color: #71c016 !important;
    border: 1px solid #71c016 !important;
  }
  .dark-theme .table .badge-danger{
    background-color: transparent !important;
    color: #ff4747;
    border: 1px solid #ff4747;
  }
  .dark-theme .page-link{
    color: #b1b1b5;
    background-color: #313452;
    border-color: #3e426d;
  }
  .dark-theme .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #e2e2e2;
  }
  .dark-theme .btn-light{
    color: #fff;
    background-color: #624caa;
    border-color: #624caa;
    box-shadow: none;
  }
  .dark-theme .btn-light:hover{
    color: #fff;
    background-color: #5b3cbe;
    border-color: #5b3cbe;
  }
  .dark-theme .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #fff;
    background-color: #5033ad;
    border-color: #5033ad;
  }
  .dark-theme .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: rgb(236, 236, 236) !important;
  }
  .dark-theme .show > .btn-inverse-primary.dropdown-toggle {
    color: rgb(236, 236, 236) !important;
  }
  .dark-theme .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #4f33ad8f;
    border: 1px solid #774efd;
  }
   #StudentItSkills{
    color: #76838f;
    font-size: 80%;
    vertical-align: middle;
    margin: 0 0 0px 0;
  }
  @media screen and (max-width:990px) {
    .theme-toggler{
        left: auto;
        right: 10px;
    }
  }