﻿@model EducationPlatform.Models.Entities.User
@{
    ViewData["Title"] = "Admin";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="card mb-2">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-between profile-wrapper">
            <div>
                <div class="justify-content-between align-items-center">
                    <div class="d-flex">
                        <h3 class="card-title text-uppercase">

                            @if (string.IsNullOrEmpty(Model.LastName) || string.IsNullOrEmpty(Model.FirstName) || string.IsNullOrEmpty(Model.MiddleName))
                            {
                                <span>Адміністратор</span>
                            }
                            else
                            {
                                <span>Адміністратор: @Model.LastName @Model.FirstName @Model.MiddleName</span>
                            }
                        </h3>
                        <a id="help" onclick="getHelp()" class="hover-cursor ml-3 mt-n1">
                            <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                        </a>
                    </div>
                    <div class="d-flex justify-content-between" data-step="1" data-intro="Особиста інформація" data-position="left">
                        <div>
                            <p class="mb-3">
                                Прізвище:
                                @if (string.IsNullOrEmpty(Model.LastName))
                                {
                                    <span class="text-muted"><i>не вказано</i></span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@Model.LastName</span>
                                }
                            </p>
                            <p class="mb-3">
                                Імя:
                                @if (string.IsNullOrEmpty(Model.FirstName))
                                {
                                    <span class="text-muted"><i>не вказано</i></span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@Model.FirstName</span>
                                }
                            </p>
                            <p class="mb-3">
                                По батькові: @if (string.IsNullOrEmpty(Model.MiddleName))
                                {
                                    <span class="text-muted"><i>не вказано</i></span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@Model.MiddleName</span>
                                }
                            </p>
                        </div>

                        <div class="ml-5">
                            <p class="mb-3">
                                Email: @if (string.IsNullOrEmpty(Model.Email))
                                {
                                    <span class="text-muted"><i>не вказано</i></span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@Model.Email</span>
                                }
                            </p>
                            <p class="mb-3">
                                Номер телефону: @if (string.IsNullOrEmpty(Model.PhoneNumber))
                                {
                                    <span class="text-muted"><i>не вказано</i></span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@Model.PhoneNumber</span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <form class="d-inline" method="get" asp-controller="Teachers" asp-action="Setting" asp-route-id="@Model.Id" data-step="2" data-intro="Натисніть на олівець, якщо ви бажаєте відредагувати інформацію про себе" data-position="left">
                    <button title="Редагувати" type="submit" class="btn btn-inverse-warning btn-sm d-flex align-items-center">
                        <i class="mdi mdi-lead-pencil"></i> <span class="ml-2">Редагувати</span>
                    </button>
                </form>
                @if (ViewBag.HasTwoFactor == true)
                {
                    <form class="d-inline" method="post" asp-controller="Account" asp-action="SetTwoFactorAuthorization" asp-route-grant="false" data-step="3" data-intro="Натисніть, якщо ви бажаєте вимкнути двофакторну аутентифікацію">
                        <button title="Вимкнути двофакторну авторизацію" type="submit" class="btn btn-inverse-danger h-100 d-flex text-center ml-2">
                            <span>Виключити TWA</span>
                        </button>

                    </form>
                }
                else
                {
                    <form class="d-inline" method="post" asp-controller="Account" asp-action="SetTwoFactorAuthorization" asp-route-grant="true" data-step="3" data-intro="Натисніть, якщо ви бажаєте увімкнути двофакторну аутентифікацію">
                        <button title="Увімкнути двофакторну авторизацію" type="submit" class="btn btn-inverse-success h-100 d-flex text-center ml-2">
                            <span>Включити TWA</span>
                        </button>
                    </form>
                }
                <form class="d-inline" method="post" asp-controller="Profile" asp-action="GeneradeBotKey" asp-route-id="@Model.Id" data-step="4" data-intro="Натисніть, якщо ви бажаєте почати користуватися нашим чат-ботом" data-position="left">
                    @await Html.PartialAsync("_ChatBotPartial")
                </form>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body" data-step="5" data-intro="Тут ви можете переглянути статистику популярності курсів серед студентів">
                <h3 class="card-title">Статистика популярності курсів</h3>
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body" data-step="6" data-intro="Тут ви можете переглянути середній бал по курсам">
                <h3 class="card-title">Статистика успішності курсів (середній бал)</h3>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/template/js/Chart.min.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/startIntro.js"></script>
}
