﻿@model EducationPlatform.Models.Entities.User
@{
    ViewData["Title"] = "Профіль";
}


@if (Model.IsBanned == true)
{
    @section Styles {
        <link href="~/lib/template/css/style-no-access.css" rel="stylesheet" />
    }

    @await Html.PartialAsync("_NotVerified")
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between profile-wrapper">
                        <div>
                            <div class="d-flex">
                                <h3 class="card-title text-uppercase">Викладач: <span>@Model.LastName @Model.FirstName @Model.MiddleName</span></h3>
                                <a id="help" onclick="getHelp()" class="hover-cursor ml-3 mt-n1">
                                    <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center" data-step="1" data-intro="Особиста інформація" data-position="left">
                                <div>
                                    <p class="mb-3">Email: <span class="font-weight-bold">@Model.Email</span></p>
                                    <p class="mb-3">Прізвище: <span class="font-weight-bold">@Model.LastName</span></p>
                                    <p class="mb-3">Імя: <span class="font-weight-bold">@Model.FirstName</span></p>
                                    <p class="mb-3">По батькові: <span class="font-weight-bold">@Model.MiddleName</span></p>
                                </div>
                                <div class="ml-5 mb-auto">
                                    <p class="mb-3">
                                        Номер телефону: @if (string.IsNullOrEmpty(Model.PhoneNumber))
                                        {
                                            <span class="text-muted"><i>не вказано</i></span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-bold">@Model.PhoneNumber</span>
                                        }
                                    </p>
                                    <p class="mb-3">Кількість курсів: <span class="font-weight-bold">@ViewBag.Courses</span></p>
                                    <p class="mt-3">
                                        Статус: <span class="font-weight-bold text-success">Активний</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <form class="d-inline" method="get" asp-controller="Teachers" asp-action="Setting" asp-route-id="@Model.Id" data-step="2" data-intro="Натисніть на олівець, якщо ви бажаєте відредагувати інформацію про себе" data-position="left">
                                <button title="Редагувати" type="submit" class="btn btn-inverse-warning btn-sm d-flex align-items-center">
                                    <i class="mdi mdi-lead-pencil"></i> <span class="ml-2">Редагувати</span>
                                </button>
                            </form>
                            @if (ViewBag.HasTwoFactor == true)
                            {
                                <form class="d-inline" method="post" asp-controller="Account" asp-action="SetTwoFactorAuthorization" asp-route-grant="false" data-step="3" data-intro="Натисніть, якщо ви бажаєте вимкнути двофакторну аутентифікацію">
                                    <button title="Вимкнути двофакторну авторизацію" type="submit" class="btn btn-inverse-danger h-100 d-flex text-center ml-2">
                                        <span>Виключити TWA</span>
                                    </button>

                                </form>
                            }
                            else
                            {
                                <form class="d-inline" method="post" asp-controller="Account" asp-action="SetTwoFactorAuthorization" asp-route-grant="true" data-step="3" data-intro="Натисніть, якщо ви бажаєте увімкнути двофакторну аутентифікацію">
                                    <button title="Увімкнути двофакторну авторизацію" type="submit" class="btn btn-inverse-success h-100 d-flex text-center ml-2">
                                        <span>Включити TWA</span>
                                    </button>
                                </form>
                            }
                            <form class="d-inline" method="post" asp-controller="Profile" asp-action="GeneradeBotKey" asp-route-id="@Model.Id" data-step="4" data-intro="Натисніть, якщо ви бажаєте почати користуватися нашим чат-ботом" data-position="left">
                                @await Html.PartialAsync("_ChatBotPartial")
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
        </div>
    </div>

    <!-- main-panel ends -->
}

@section Scripts {
    <script src="~/js/startIntro.js"></script>
}