﻿input::-ms-clear, input::-ms-reveal {
    display: none;
}

/*Styles for eye which show password*/
#passwordInput {
    position: relative !important;
}

#eyeContainer i {
    position: absolute;
    right: 15px;
    top: 20px;
}
