﻿
@{
    Layout = "_LayoutAuth";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="text-center brand-logo">
                    <img src="~/lib/template/images/Logo EP.svg" alt="logo">
                </div>
                <h4 class="text-center">Ви успішно активували свій аккаунт</h4>
                <div class="text-center mt-3">
                    <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Увійти</a>
                </div>
            </div>
        </div>
    </div>
</div>
