﻿@model EducationPlatform.Models.ViewModels.Account.LoginViewModel
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<EducationPlatform.Models.Entities.User> SignInManager

@{
    Layout = "_LayoutAuth";
}

@section Styles {
    <link href="~/css/showHidePass.css" rel="stylesheet" />
}
<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="d-flex">
                    <h4 class="mr-auto">Вхід</h4>
                    <a id="help" onclick="getHelp()" class="hover-cursor">
                        <i class="mdi mdi-help-circle-outline"></i>
                    </a>
                </div>
                <form class="pt-3" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div data-step="1" data-intro="Для входу в обліковий запис введіть ваш email та пароль" data-position="left">
                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-control form-control-lg" placeholder="Email">
                        </div>
                        <div class="form-group" id="passwordInput">
                            <input asp-for="Password" class="form-control form-control-lg" placeholder="Пароль" />
                            <a href="" id="eyeContainer"><i class="fa fa-eye-slash eye" title="Показати пароль" id="show_hide_password" aria-hidden="true"></i></a>
                        </div>

                    </div>
                    <div class="mt-3" data-step="3" data-intro="Та натисніть кнопку увійти">
                        <button type="submit" class="btn btn-block btn-primary font-weight-medium auth-form-btn">Увійти</button>
                    </div>
                    <div class="my-2 d-flex justify-content-between align-items-center">
                        <div class="form-check" data-step="2" data-intro="Відмітьте, якщо хочете залишитись в системі" data-position="left">
                            <label asp-for="RememberMe" class="form-check-label text-muted">
                                <input type="checkbox" asp-for="RememberMe" class="form-check-input">
                                Запам'ятати мене
                            </label>
                        </div>
                        <a href="@Url.Action("ForgotPassword", "Account")" class="auth-link text-black" data-step="4" data-intro="Забули пароль - перейдіть за посиланням" data-position="right">Забули пароль?</a>
                    </div>
                </form>

                <div class="text-center mt-4 font-weight-light" data-step="5" data-intro="Якщо ви ще не маєте облікового запису - перейдіть за посиланням для реєстрації">
                    Не маєте облікового запису? <a href="@Url.Action("Register", "Account")" class="text-primary">Створити</a>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/startIntro.js"></script>
    <script src="~/js/ShowHidePass.js"></script>
    <script src="https://kit.fontawesome.com/9368b8cb27.js" crossorigin="anonymous"></script>
}