﻿@using EducationPlatform.Models.ViewModels.Students;
@model IEnumerable<StudentViewModel>
@{
    ViewData["Title"] = "Студенти";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="card">
    <div class="card-body">
        <a type="submit" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right" asp-controller="Students" asp-action="Create">
            <i class="mdi mdi-plus-circle"></i> <span class="ml-2">Додати</span>
        </a>

        <a style="height:38.4px" type="submit" class="btn btn-inverse-primary btn-sm d-flex align-items-center float-right mr-1" asp-controller="Students" asp-action="Entrants">
            <span class="ml-2">Вступники</span>
        </a>

        <h5 class="card-title"><a>Усі студенти</a></h5>

        <p class="card-text">Усього в системі зареєстрованно @Model.Count()</p>
        <div class="table-responsive">
            <table class="table table-hover datatable-table">
                <thead class="text-center">
                    <tr>
                        <th class="visible text-left">Ім'я студента</th>
                        <th class="visible text-left">Email</th>
                        <th class="visible text-left">Навички</th>
                        <th class="visible text-left">К-сть курсів</th>
                        <th class="visible">Статус</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-left">@item.User.LastName @item.User.FirstName @item.User.MiddleName</td>
                        <td class="text-left">@item.User.Email</td>
                        <td class="text-left">@item.Skills</td>
                        <td class="text-left">
                            <a class="text-dark" href="/Courses/GetStudentCourses/@item.StudentId">
                                @item.CourseNumber
                            </a>
                        </td>
                        <td>
                               @if (item.User.IsBanned == true)
                                   {
                                    <span class="badge badge-danger">Заблокований</span>
                                }
                                else if (item.User.IsBanned == false && item.HasAccess.Value == true)
                                {
                                    <span class="badge badge-success">Активний</span>
                                }
                                else if (!item.HasAccess.Value)
                                {
                                    <span class="badge badge-warning">Не підтверджено</span>
                                }
                           </td>

                            <td class="text-center">
                                <form class="d-inline" method="get" asp-action="Edit" asp-route-id="@item.UserId">
                                    <button type="submit" href="@Url.Action("Edit", "Students", new { id = item.UserId })" class="btn btn-inverse-info btn-icon align-items-center" data-toggle="tooltip" title="Редагувати студента">
                                        <i class="mdi mdi-lead-pencil"></i>
                                    </button>
                                </form>

                                <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.StudentId">
                                    <button type="submit" class="btn btn-inverse-danger btn-icon" data-toggle="tooltip" title="Видалити студента">
                                        <i class="mdi mdi-delete-variant"></i>
                                    </button>
                                </form>

                                @if (item.User.IsBanned == false)
                                {
                                    <form class="d-inline" method="post" asp-action="Block" asp-controller="Account" asp-route-page="Students" asp-route-id="@item.UserId">
                                        <button type="submit" class="btn btn-inverse-dark btn-icon align-items-center" data-toggle="tooltip" title="Заблокувати студента">
                                            <i class="mdi mdi-block-helper"></i>
                                        </button>
                                    </form>

                                    @if (item.HasAccess.Value == false)
                                    {
                                        <form class="d-inline" method="post" asp-action="GrantAccess" asp-controller="Students" asp-route-id="@item.StudentId">
                                            <button type="submit" class="btn btn-inverse-success btn-icon align-items-center" data-toggle="tooltip" title="Надати доступ">
                                                <i class="mdi mdi-check"></i>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form class="d-inline" method="post" asp-action="RevokeAccess" asp-controller="Students" asp-route-id="@item.StudentId">
                                            <button type="submit" class="btn btn-inverse-warning btn-icon align-items-center" data-toggle="tooltip" title="Зняти доступ">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </form>
                                    }

                                }
                                else
                                {
                                    <form class="d-inline" method="post" asp-action="UnBlock" asp-controller="Account" asp-route-page="Students" asp-route-id="@item.UserId">
                                        <button type="submit" class="btn btn-inverse-dark btn-icon align-items-center" data-toggle="tooltip" title="Розблокувати студента">
                                            <i class="mdi mdi-account-key"></i>
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

