﻿@model EducationPlatform.Models.ViewModels.Students.StudentFormViewModel
@{
    ViewData["Title"] = "Налаштування";
}
@await Html.PartialAsync("_ChangeEmailModal", new EducationPlatform.Models.ViewModels.Account.ChangeEmailViewModel { Id = Model.Id, Email = Model.Email })
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">Налаштування</h4>
                    <a id="help" onclick="getHelp()" class="hover-cursor ml-3 mt-n1">
                        <i class="mdi mdi-help-circle-outline" style="color: #b5b5b5; font-weight: 300;"></i>
                    </a>
                </div>
                <form class="form-sample" method="post" asp-controller="Students" asp-action="Edit">
                    @Html.HiddenFor(x => x.StudentId)
                    @Html.HiddenFor(x => x.HasAccess)
                    @Html.HiddenFor(x => x.Email)
                    <div asp-validation-summary="ModelOnly"></div>
                    <p class="card-description">
                        Особиста інформація:
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="LastName" class="col-sm-3 col-form-label">Прізвище:</label>
                                <div class="col-sm-9">
                                    <input asp-for="LastName" type="text" class="form-control" />
                                    <span class="small" asp-validation-for="LastName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="FirstName" class="col-sm-3 col-form-label">Ім'я:</label>
                                <div class="col-sm-9">
                                    <input asp-for="FirstName" type="text" class="form-control" />
                                    <span class="small" asp-validation-for="FirstName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="MiddleName" class="col-sm-3 col-form-label">По батькові:</label>
                                <div class="col-sm-9">
                                    <input asp-for="MiddleName" type="text" class="form-control" />
                                    <span class="small" asp-validation-for="MiddleName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-3 col-form-label">Електронна пошта:</label>
                                <div class="col-sm-9">
                                    <div class="input-group sm-9">
                                        <input asp-for="Email" type="email" disabled class="form-control" />
                                        <span class="small" asp-validation-for="Email"></span>
                                        <div class="input-group-append" data-step="1" data-intro="Натисніть, якщо ви бажаєте змінити пошту" data-position="left">
                                            <button type="button" id="modalBtn" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">Змінити пошту</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="PhoneNumber" class="col-sm-3 col-form-label">Номер телефону:</label>
                                <div class="col-sm-9">
                                    <input asp-for="PhoneNumber" type="text" class="form-control" />
                                    <span class="small" asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <p class="card-description">
                                Інформація про освіту:
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="University" class="col-sm-3 col-form-label">Університет:</label>
                                <div class="col-sm-9">
                                    <input asp-for="University" type="text" class="form-control" />
                                    <span class="small" asp-validation-for="University"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Faculty" class="col-sm-3 col-form-label">Факультет:</label>
                                <div class="col-sm-9">
                                    <input asp-for="Faculty" type="text" class="form-control" />
                                    <span class="small" asp-validation-for="Faculty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="StudyYear" class="col-sm-3 col-form-label">Курс</label>
                                <div class="col-sm-9">
                                    <select asp-for="StudyYear" class="selectpicker form-control" data-live-search="true" title="Виберіть курс...">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <span class="small" asp-validation-for="StudyYear"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Skills" class="col-sm-3 col-form-label">Навички:</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="Skills" type="text" class="form-control"></textarea>
                                    <span class="small" asp-validation-for="Skills"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 mt-5" data-step="2" data-intro="Натисніть, щоб зберегти зміни" data-position="left">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/changeEmailHandler.js"></script>
    <script src="~/js/startIntro.js"></script>
}
