﻿<button type="button" class="btn btn-primary h-100 d-flex text-center ml-2" data-toggle="modal" data-target="#chatBotModalWindow">
    Чат-бот
</button>

<div class="modal fade" id="chatBotModalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Чат-бот</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.BotAuthorizationKey == null)
                {
                    <span>Щоб почати користуватися чат-ботом згенеруйте собі ключ авторизації.</span>
                }
                else
                {
                    <span>Ваш код авторизації: <b>@ViewBag.BotAuthorizationKey.AuthorizationKey</b></span>
                }
            </div>
            <div class="modal-footer">
                @if (ViewBag.BotAuthorizationKey == null)
                {
                    <button type="submit" class="btn btn-primary">Згенерувати код</button>
                }
            </div>
        </div>
    </div>
</div>

@if(ViewBag.IsModalWindowShowRequired != null)
{
    @if(ViewBag.IsModalWindowShowRequired)
    {
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="~/js/modalWindow.js"></script>
    }
}