﻿@model EducationPlatform.Models.ViewModels.Account.ChangeEmailViewModel
<div class="modal" id="emailModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Зміна Email</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" asp-controller="Account" asp-action="SubmitEmail" id="changeEmail">
                @Html.HiddenFor(x => x.Id, new { id = "user_id" })
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" placeholder="Введіть нову пошту" type="email" id="inputEmail" value="" required />
                        <span asp-validation-for="Email"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-light mr-auto" data-dismiss="modal">Відмінити</button>
                    <button type="submit" class="btn btn-primary" id="vasya">Змінити</button>
                </div>
            </form>
        </div>
    </div>
</div>