﻿@using Microsoft.AspNetCore.Identity;
@inject UserManager<EducationPlatform.Models.Entities.User> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EducationPlatform</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/introjs.css" />
    <link rel="stylesheet" href="~/lib/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/lib/template/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/template/css/style.css">
    <link rel="stylesheet" href="~/lib/template/css/theme-toggle.css" />
    @await RenderSectionAsync("Styles", false)
    <link rel="shortcut icon" href="~/lib/template/images/favicon-32x32.png" />
</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="/"><img id="logo" src="~/lib/template/images/Logo EP.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/"><img id="logoMini" src="~/lib/template/images/logo-mini-EP-black.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <Gravatar email="@User.Identity.Name"></Gravatar>
                            <span class="nav-profile-name">@((await UserManager.GetUserAsync(User)).Email)</span>
                            @if (User.IsInRole("Student"))
                            {
                                <span class="role-label">(Студент)</span>
                            }
                            @if (User.IsInRole("Teacher"))
                            {
                                <span class="role-label">(Вчитель)</span>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <span class="role-label">(Адміністратор)</span>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <form method="get" asp-controller="@(User.IsInRole("Student") ? "Students" : "Teachers")" asp-action="Setting" asp-route-id="@UserManager.GetUserId(User)">
                                <button type="submit" class="dropdown-item">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    Налаштування
                                </button>
                            </form>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="logout-btn"><i class="mdi mdi-logout text-primary"></i> Вихід</button>
                            </form>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas position-fixed" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Profile")">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Профіль</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Schedule")" class="nav-link">
                            <i class="mdi mdi-book-multiple"></i>
                            <span class="ml-4 menu-title">Розклад</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Courses")" class="nav-link">
                            <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                            <span class="menu-title">Курси</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Videos")" class="nav-link">
                            <i class="mdi mdi-video menu-icon"></i>
                            <span class="menu-title">Записи</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Subjects")" class="nav-link">
                                <i class="mdi mdi-library-books"></i>
                                <span class="ml-4  menu-title">Предмети</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Teachers")" class="nav-link">
                                <i class="mdi mdi-account menu-icon"></i>
                                <span class="menu-title">Викладачі</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Students")" class="nav-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="ml-4 menu-title">Студенти</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <div class="theme-toggler">
                            <form method="post" asp-controller="Account" asp-action="InterfaceModeChange">
                                <label class="switch">
                                    <input id="theme-checkbox" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel ml-auto">
                <div class="content-wrapper">
                    <!-- - PUT YOUR CODE HERE - -->
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- End custom js for this page-->


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <!--jsdeliver-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- plugins:js -->
    <!-- Plugin js for this page-->
    <script src="~/lib/template/vendors/chart.js/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js"></script>
    <script src="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/lib/template/js/off-canvas.js"></script>
    <script src="~/lib/template/js/hoverable-collapse.js"></script>
    <script src="~/lib/template/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/lib/template/js/dashboard.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/template/js/theme_toggle.js"></script>
    <script src="~/js/intro.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/intro.js"></script>
</body>
</html>
