﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Education Portal</title>
    <link rel="stylesheet" href="~/lib/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/lib/template/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/lib/template/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/introjs.css" />
    <link rel="shortcut icon" href="~/lib/template/images/favicon-32x32.png" />
    @RenderSection("Styles", false)
</head>

<body>
    <div class="container-scroller">
        <main class="container-fluid page-body-wrapper full-page-wrapper">
            @RenderBody()
        </main>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/lib/template/vendors/base/vendor.bundle.base.js"></script>
    <script src="~/lib/template/js/off-canvas.js"></script>
    <script src="~/lib/template/js/hoverable-collapse.js"></script>
    <script src="~/lib/template/js/template.js"></script>
    <script src="~/js/intro.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>